/* Box Model Hack */
* {
     box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
     background-image: url('/turndialpuzzle/img/vertwoodgrain.png');
     background-size: contain;
}

.clear {
     clear: both;
}

header {
     color: turquoise;
     margin: 100px 0;
     display: flex;
     justify-content: center;
}

section {
     display: flex;
     flex-flow: row;
     justify-content: space-around;
     height: 400px;
     width: 100%;
     align-items: center;
}

#turnstyle1,
#turnstyle2,
#turnstyle3 {
     height: 400px;
     width: 400px;
     position: relative;
     background: radial-gradient(#a08377, #503f29);
     color: turquoise;
     border-radius: 100%;
     box-shadow: 0 0 30px rgb(255, 255, 255, 1);
     font-size: 50px;
}

#turnstyle1 span {
     position: absolute;
     transform-origin: top left;
}

#turnstyle2 span {
     position: absolute;
     transform-origin: top left;
}

#turnstyle3 span {
     position: absolute;
     transform-origin: top left;
}

.between {
     font-size: 40px;
     color: yellow;
}

#buttContainer {
     height: 100px;
     display: flex;
     justify-content: space-between;
     padding: 0 200px;
}

button {
     border: 0;
     background: #748879;
     border-radius: 4px;
     box-shadow: 0 5px 0 #4a5e4a;
     color: rgb(255, 142, 142);
     cursor: pointer;
     font: inherit;
     margin: 0;
     outline: 0;
     padding: 12px 20px;
     transition: all .1s linear;
}

button:active {
     box-shadow: 0 2px 0 #006599;
     transform: translateY(3px);
     color: turquoise
}

#win_rect {
     border: 1px solid red;
     height: 100px;
     margin-top: 150px;
     width: 100%;

     position: absolute;
}

header {
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;
     margin: 50px 0 100px 0;
     color: rgb(0, 247, 255);

}

h1,
p {
     font-weight: 900;
     margin: 10px;
     padding: 5px;
     box-shadow: 5px 2px 5px 5px rgb(0, 150, 150);
}